.search-container {
  display: none;
  position: relative;
  margin: 0 auto;
  max-width: 90%;

  &.is-visible {
    display: block;
    flex: 1;
    padding: 1rem;
  }

  #search {
    display: block;
    border: none;
    padding: 1px 0;
    text-align: left;
    line-height: $baseline;
    font-size: $font-size;
    font-family: $font-family;
    color: $color;
    background: transparent;
    width: 100%;
    height: 50px;
  }

  #search:focus {
    outline: none;
    border: none;
  }
}

.search-results {
  display: none;
  margin: 0 auto;
  max-width: 90%;

  &.is-visible {
    display: block;
  }

  &__header {
    font-weight: bold;
  }

  &__items {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin-bottom: 1rem;
  }

  &__teaser {
  }
}

#search-ico {
  font-family: "FabricMDL2Icons";
  cursor: pointer;
  color: #bbb;
  font-size: 1rem;
  line-height: 1;
  &:hover {
    color: #eee;
  }
}

/* clears the ‘X’ from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
