@use "sass:color";
@import "variables";

html {
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  letter-spacing: 0.1px;
}

body {
  margin: 0;
  font-size: $font-size;
  font-family: $font-family;
  line-height: $line-height;
  background: $background;
  color: $color;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  gap: $baseline;
}

nav {
  flex: 1;
  position: sticky;
  height: 92vh;
  top: calc(#{$baseline} * 2);
  bottom: $baseline;
  overflow-y: auto;

  label {
    display: block;
  }

  &.PageNav {
    font-size: 0.9rem;
  }
}

article {
  flex: 3;

  h1:first-of-type {
    transform: translateY(-0.75rem);
    font-weight: 800;
  }

  h2 {
    font-weight: 600;
  }

  h3 {
    font-weight: 600;
  }

  h4 {
    font-weight: 500;
  }

  img {
    width: 100%;
  }
}

header,
article,
nav.PageNav {
  a {
    border-bottom: 1px solid #ccc;
    &:hover {
      border-color: #bbb;
    }
  }
}

blockquote {
  margin: $baseline 0;
  padding: calc(#{$baseline} * 0.8);
  background-color: lighten(#b873b2, 36%);
  border: 1px solid lighten(#b873b2, 30%);
  border-radius: 5px;
  p {
    margin: 0;
    code {
      font-family: $code_font;
      font-size: 0.8rem;
      color: #b873b2;
      padding: 2px 3px;
      border-radius: 2px;
      background-color: lighten(#b873b2, 30%);
    }
  }
  &:before {
    font-family: $code_font;
    font-size: 0.9rem;
    content: "Tip!";
    font-weight: 800;
    color: #b873b2;
  }
}

figure {
  display: block;
  max-width: 600px;
  margin: 0 auto;
}

figcaption {
  text-align: center;
  color: #444;
  font-size: 0.8rem;
}

a {
  color: $links;
  text-decoration: none;

  &:visited {
    color: $links;
  }

  &:hover {
    color: $hover-links;
  }
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.4rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
  margin-top: 0;
}

h2,
h3,
h4 {
  margin-top: 2em;

  .anchor {
    visibility: hidden;
    text-decoration: none;
    cursor: pointer;
    line-height: 1;
    color: $color;
  }

  &:hover {
    .anchor {
      visibility: visible;
      font-family: "FabricMDL2Icons";
    }
  }
}

blockquote code {
  white-space: nowrap;
}

pre {
  font-size: 1rem;
  margin: $baseline 0;
  border-radius: 4px;
  padding: calc(#{$baseline} * 0.6);
  overflow: auto;
  position: relative;
  border-radius: 5px;
  background-color: transparent;

  code {
    background: transparent;
    font-family: $code_font;
    font-size: 0.8rem;

    &::after {
      content: attr(data-lang);
      font-style: italic;
      line-height: 1;
      opacity: 0.3;
      position: absolute;
      bottom: $baseline;
      right: $baseline;
      z-index: 1;
    }
  }
}

p {
  margin: 1.5rem 0;
}

p,
ul,
ol {
  code {
    font-family: $code_font;
    font-size: 0.8rem;
    color: #757358;
    padding: 3px 4px;
    border-radius: 2px;
    background-color: lighten(#757358, 55%);
  }
}

.Page-description {
  font-size: 1.3rem;
  font-weight: 300;
  color: #757358;
  padding-bottom: $baseline;
  margin-bottom: 0;
}

.copy-code-button {
  font-family: "FabricMDL2Icons";
  display: none;
  background: $background;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: $baseline;
  color: $color;
  z-index: 10;
  position: absolute;
  top: $baseline;
  right: $baseline;
}

pre:hover .copy-code-button {
  display: block;
}

#toc {
  margin-left: calc(#{$baseline} + #{$font-size});
  padding: 0;

  li {
    color: $color;

    &::before {
      display: inline-block;
      content: "";
    }

    ul {
      padding: 0;
    }
  }
}

header {
  margin-bottom: calc(#{$baseline}* 2);
  background-color: #efefef;

  h1 {
    margin: 0;
    line-height: 1;
    font-size: 1.4rem;
    a:link,
    a:visited {
      color: #000;
    }
    a {
      border: none;
    }
  }

  .header-content {
    height: 80px;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 90%;
    max-width: 1400px;
  }
}

#release {
  text-align: left;
  margin: 0 1rem;
  font-family: $code_font;
  font-size: 0.8rem;
  position: relative;
}

@keyframes slideIn {
  0% {
    max-height: 0;
    opacity: 0;
  }
  100% {
    max-height: 999px;
    opacity: 1;
  }
}
@keyframes slideOut {
  0% {
    height: auto;
    opacity: 1;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}

.subtree {
  overflow: hidden;
  margin: calc(#{$baseline} / 8) 0;
  transition: overflow 0.2s ease-in-out;
  padding: 0;
}

.nav-section-heading {
  font-weight: bold;
}

.subtree > li {
  padding-left: calc(#{$baseline} * 0.5);
  position: relative;

  &.active {
    background: linear-gradient(
      90deg,
      lighten(desaturate(#757358, 5%), 50%) 0%,
      rgba(0, 0, 0, 0) 80%
    );
    font-weight: 500;
  }

  &.active,
  &:hover {
    border-color: #757358;
  }

  a {
    color: $color;
    display: block;
    &:hover {
      color: #757358;
    }
  }
}

.subtree,
.subtree ul {
  list-style-type: none;
  font-size: 0.9rem;
}

.subtree ol li {
  font-size: 0.8rem;
  a:hover {
    border-bottom: 1px solid #ccc;
  }
}

.subtree li {
  &.active {
    border-color: #757358;
    a {
      color: #757358;
    }
  }

  a {
    color: $color;
  }

  &.active a {
    color: #757358;
  }
}

#mobile {
  display: none;
}

@media screen and (max-width: 1023px) {
  main {
    flex-flow: column nowrap;
    width: 100%;
  }

  nav {
    position: inherit;
    height: auto;
    margin: $baseline $baseline 0 $baseline;
    width: 100%;
    margin: 0;
  }

  article {
    width: 100%;
    margin: 0;
    z-index: 1;
  }

  #trees {
    height: auto;
  }
}

#on_right {
  margin-left: auto;
}

@import "fabric-icons-inline";
@import "search";
